service: lambda-cicd-sample

# Use the serverless-webpack plugin to transpile ES6
plugins:
  - serverless-webpack

# Enable auto-packing of external modules
custom:
  webpackIncludeModules: true
  stage: ${opt:stage, self:provider.stage}
  Production:
    MESSAGE: 'I am prod'
  Staging:
    MESSAGE: 'I am dev'
    MESSAGE2: 'I am dev 2'
    MESSAGE3: 'I am dev 3'
  bbmbp:
    MESSAGE: 'I am bbmbp'

provider:
  name: aws
  runtime: nodejs6.10
  stage: staging
  region: us-east-1
  profile: does-not_exist
  environment: ${self:custom.${self:custom.stage}}

functions:
  hello:
    handler: controllers/hello.main
    events:
      - http:
          path: hello
          method: get

