service: hello-world

custom:
  stage: ${opt:stage, self:provider.stage}

provider:
  name: aws
  runtime: nodejs6.10
  stage: staging
  region: us-east-1

functions:
  get:
    handler: controllers/hello.main
    events:
      - http:
          path: /
          method: get

  post:
    handler: controllers/hello.main
    events:
      - http:
          path: /
          method: post


