service: hello-world

provider:
  name: aws
  runtime: nodejs6.10
  region: us-east-1

functions:
  get:
    handler: controllers/hello.main
    events:
      - http:
          path: /
          method: get

  post:
    handler: controllers/hello.main
    events:
      - http:
          path: /
          method: post


